@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url('assets/AppleSDGothicNeoB.ttf') format('truetype');

    font-family: "AppleSDGothicNeoM";
    src: url('assets/AppleSDGothicNeoM.ttf') format('truetype');
}

* {
    margin: 10px;
    padding: 0px;
}

body {
    background-color: whitesmoke;
    overflow: overlay
}

/* ----------------------header---------------------- */

#header {
    display: grid;
    column-gap: 0px;
    grid-template-columns: 1fr 3fr 1fr;
}

#archiveButton {
    position: relative;
    justify-self: left;

    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid rgb(255, 135, 245);
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

#titleButton {
    position: relative;
    justify-self: center;

    color: rgb(255, 135, 245);
}

.notionButton {
    position: relative;
    justify-self: center;


    width: 80px;
    height: 22px;
    border-radius: 15px;
    background-color: #FFDEFC;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: black;
}


/* ---------------------------------------- */

#log1 {
    cursor: grab;
}

#log2 {
    cursor: grab;
}

.pagePopUp {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

img {
    max-width: 90%;
    /* position center */
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.grid-container {
    width: 3000px;
}

.pageBox {
    overflow-x: auto;
    display: flex;
}

.pagePopUp {
    width: 600px;
    height: 80vh;
    overflow-y: auto;
}



/* -----------------scrollbar------------------- */
.pagePopUp::-webkit-scrollbar {
    width: 8px;
    /* 스크롤바의 너비 */
}

.pagePopUp::-webkit-scrollbar-thumb {
    height: 30%;
    /* 스크롤바의 길이 */
    background: lightgray;
    /* 스크롤바의 색상 */

    border-radius: 10px;
}

.pagePopUp::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    /*스크롤바 뒷 배경 색상*/
}

figcaption {
    font-size: 15px;
    color:grey;
}

i{
    font-size: 15px;
    color:grey;
}