/* #FF87F5 or #EB5DF7 */
/* #FFDEFC or #fbccff*/
@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url('assets/AppleSDGothicNeoB.ttf') format('truetype');

    font-family: "AppleSDGothicNeoM";
    src: url('assets/AppleSDGothicNeoM.ttf') format('truetype');
}

* {
    margin: 10px;
    padding: 0px;
}

body {
    /* background-color: rgb(238, 238, 238); */
    background-color: white;
    overflow: overlay;
}

/* ----------------------header---------------------- */

#header {
    display: grid;
    column-gap: 0px;
    grid-template-columns: 1fr 3fr 1fr;
}

#sheetButton {
    position: relative;
    justify-self: left;

    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #FF87F5;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

#titleButton {
    position: relative;
    justify-self: center;

    color:#FF87F5;
}

#sheetEditButton {
    position: relative;
    justify-self: right;


    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #FF87F5;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

/* ----------------grid-container------------------ */

#spreadsheet-data {
    display: grid;
    column-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start; */
}


h1 {
    font-size: large;
    font-family: 'AppleSDGothicNeoB';
}

p {
    font-family: 'AppleSDGothicNeoM';
}

.bottomTxt {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    color: rgb(182, 182, 182);
}



/*------------------interaction-----------------*/

.memo {
    max-width: 20vw;
    min-height: 30px;
    background-color: white;
    box-shadow: 0 0 20px 2px  #f0f0f0;
    border-radius: 15px;
    padding: 5px;
    margin: 1vw;
    cursor: grab;
    justify-self: center;
}

h1 {
    margin-bottom: 20px;
}

.myclick {
    box-shadow: 0 0 20px 2px #FF87F5;
}

.myclickmain {
    background-color: #FF87F5;
    box-shadow: 0 0 20px 2px #FF87F5;
    color: white;
}

.myclickbutton {
    background-color: black;
}


.number-button {
    position: relative;
    top: 0px;
    left: 5px;

    width: 25px;
    height: 25px;
    background-color: lightgray;
    border-radius: 15px;
    cursor: grab;
}

.number-button {
    position: relative;
    top: 0px;
    left: 5px;

    width: 25px;
    height: 25px;
    background-color: lightgray;
    border-radius: 15px;
    cursor: grab;
}



.number {
    color: white;
    font-size: smaller;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.belonging {
    position: relative;
    top: -5px;
    max-width: 20vw;
    min-height: 30px;
    padding: 5px;
    margin: 1vw;
    z-index: -10;

    background-color: #FFDEFC;
    border-radius: 15px;


    animation-name: slideDown;
    animation-duration: 0.4s;
    animation-duration: leaner;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}


@-webkit-keyframes slideDown {
    0% {
        top: -50px;
    }

    100% {
        top: 0px;
    }
}

img {
    width: 95%;
    cursor: pointer;
    justify-self: center;
}


/* -----------------scrollbar------------------- */
body::-webkit-scrollbar {
    width: 8px;
    /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%;
    /* 스크롤바의 길이 */
    background: lightgray;
    /* 스크롤바의 색상 */

    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    /*스크롤바 뒷 배경 색상*/
}

.connected-line {
    border: 1px solid lightgray;
    z-index: -1000;
    position: absolute;
    /* justify-self: center; */
    margin:none;
}

/* ----------------first memo-------------- */

.firstmemo {
    background-color: white;
    color: rgb(182, 182, 182);
    box-shadow: 0 0 20px 2px  #f0f0f0;
}

.howto {
    color: black;
    font-weight: 1000;
    animation-duration: 500ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink {
    from {
       opacity: 1;
    }
    to {
       opacity: 0;
    }
  }

.howtotext {
    font-weight: bold;
    font-size: large;
    color: #FF87F5;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: #FFDEFC 0px 0px 20px 2px;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
